.products-div {
  .header {
    margin-left: 8rem;
    font-size: 1.5rem;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;    
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media only screen and (max-width: 768px) {
  .products-div {
    .header {
      margin-left: 2.5rem;
    }
  }
}
