$bgcolor: #282828;
$fontsize: 0.525rem;
$textcolor: #fff;
$bgcolor-selection: #dedede;
* {
  box-sizing: border-box;
}
.profile-container {
  margin: 1.25rem;
  padding: 0.625rem;
  border-radius: 0.125rem;
  background-color: $textcolor; 
  min-height: 25.75rem;
}
.profile-left {
  padding: 1.25rem;
  float: left;
  text-align: center;
  width: 30%; /* The width is 30%, by default */
}
.profile-image {
  width: 12.5rem;
  height: 12.5rem;  
  position: relative;
  border-radius: 50%;  
}
.profile-main {
  padding: 1.563rem 0 0.625rem 0;
  float: left;
  width: 50%; /* The width is 50%, by default */
}
.profile-form-field-name {
  font-size: 1rem; 
  padding: 0.625rem;
  text-align: left;
}
.profile-input-container {
  padding: 0.625rem;
  text-align: left;
}
.profile-form-field-textbox {
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  border: solid 0.0625rem $bgcolor-selection;
  font-size: 1rem;
}
.profile-right {
  padding: 1.25rem;
  float: left;
  text-align: center;
  width: 20%; /* The width is 20%, by default */
}
.profile-form-field-button {
  padding: 0.625rem;
  border-radius: 0.3125rem;  
  background-color: $bgcolor;
  font-size: 1rem;
  font-weight: normal;
  color: $textcolor;
  cursor: pointer;  
  transition: 0.3s;
  border: none;
}


.profile-form-field-button[disabled] {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
.profile-input-file {
  display: none;
}
ul {
  list-style-type: none; /* Remove bullets */
}
/* Use a media query to add a break point at 768px: */
@media screen and (max-width: 768px) {
  .profile-left,
  .profile-main,
  .profile-right {
    width: 100%; /* The width is 100%, when the viewport is 768px or smaller */
  }
  .profile-container {
    min-height: 580px;
  }
}
