* {
    box-sizing: border-box;
  }
  .container {
    margin: 20px;
    padding: 10px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 5px 10px 8px 10px #888888;
    min-height: 300px;
  }
  
  .left {
    padding: 20px;
    float: left;
    text-align: center;
    width: 30%; /* The width is 30%, by default */
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border: 1px solid;
    box-shadow: 5px 5px 8px 5px #888888;
    position: relative;
      top: 0;
      left: 0;
  }

  .small-camera {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 55px;
      left: 300px;
    }
  .main {
    padding: 25px 0 10px 0;
    float: left;
    width: 50%; /* The width is 50%, by default */
    
  }
  
  .form-field-name {
    font-size: 16px;
    color: #151e42;
    padding: 10px;
    text-align: left;
   
  }
  .input-container {
    padding: 10px;
    text-align: left;
   
  }
  .form-field-textbox {
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #e4e8ee;
    font-size: 16px;
  }
  
  .right {
    padding: 20px;
    float: left;
    text-align: center;
    width: 20%; /* The width is 20%, by default */
  }
  
  .form-field-button {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 20px 20px -15px rgba(89, 77, 223, 0.5);
    background-color: #6e59ce;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    border: none;
  }
  .form-field-button:hover {opacity: 1}

  .form-field-button[disabled]{
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
  
  ul {
    list-style-type: none; /* Remove bullets */
  }
  
  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width: 650px) {
    .left,
    .main,
    .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .container {
      min-height: 580px;
    }
  }
  