$bgcolor: #7B7777;
$fontsize: 0.525rem;
$textcolor: #fff;
$bgcolor-selection:#DEDEDE;
* {
    box-sizing: border-box;    
  }
  #delivery-address-container{ 
    min-height:35.75rem; 
    .left{
        float: left;
        text-align: left;
        width: 70%;        
        padding: 0.938rem;  
        h3{
          padding-left: 2.75rem;
        }     
        ul{
          list-style-type: none;  
          overflow: hidden;      
        } 
        li {
          float: left;
        }
        div{            
          &.address-info{
            background-color: $bgcolor-selection; 
            overflow: hidden;     
            width: 80%;         
            padding:0.625rem;            
            span{
              font-weight: 700;
            }     
          }   
          &.radio-button-container{
            padding:0.625rem;
            width:80% ;
            text-align: center;           
          }   
        } 
        p{
          text-align: right;
          a:hover{
            text-decoration: none;
          }
        }   
    }
    .right {
        float: left;
        text-align: left;
        width: 30%;        
        padding:5.375rem 0.625rem 0 0.625rem;

        div{     
            &.heading-bar{
                background-color: $bgcolor;
                padding:0.188rem 0.313rem;
                overflow:hidden;
                color: $textcolor;
              }    
            &.heading-item{
                float: left;
                text-align: left;
                width: 70%;  
                padding: 0 0.625rem;
              }            
            &.summery-info{
              background-color: $bgcolor-selection; 
              overflow: hidden;            
            }          
            &.item-total{            
              float: left;
              text-align: left;
              width:50%;
              padding: 1.25rem 1.25rem 0.125rem 1.25rem;              
            }
            &.item-price{
              float: left;
              text-align: right;
              width:50%;
              padding: 1.25rem 1.25rem 0.125rem 1.25rem;              
            }
            &.item-tax{            
              float: left;
              text-align: left;
              width:50%;
              padding:  0.125rem 1.25rem 0.125rem 1.25rem;              
            }
            &.price-tax{
              float: left;
              text-align: right;
              width:50%;
              padding:  0.125rem 1.25rem 0.125rem 1.25rem ;              
            }
            &.item-devlivery{            
              float: left;
              text-align: left;
              width:50%;
              padding:  0.125rem 1.25rem 1.25rem 1.25rem;              
            }
            &.price-item-delivery{
              float: left;
              text-align: right;
              width:50%;
              padding:  0.125rem 1.25rem 1.25rem 1.25rem ;              
            }
            &.order-total{            
              float: left;
              text-align: left;
              width:50%;
              padding:  0.125rem 1.25rem 1.25rem 1.25rem;     
              font-size: 1.25rem;      
              font-weight: bold;   
            }
            &.price-total{
              float: left;
              text-align: right;
              width:50%;
              padding:  0.125rem 1.25rem 1.25rem 1.25rem ;   
              font-size: 1.25rem; 
              font-weight: bold;              
            }
            hr{
              width:92%;
              text-align: center;
              height:0.080rem;
              border: none;
              background-color: #000;            
            }
            &.button-container{
              padding:1.5rem 0;            
              input{
                  padding: 0.625rem;
                  border-radius: 0.3125rem;
                  box-shadow: 0 1.25rem 1.25rem -1rem rgba(55, 218, 150, 0.5);
                  background-color: #45B643;
                  font-size: 1rem;
                  font-weight: normal;
                  color: #fff;
                  cursor: pointer;                 
                  transition: 0.3s;
                  border:  #fff; 
                  width:100%;               
              }
              
            }
          }
    }
}
/* Use a media query to add a break point at 768px: */
@media screen and (max-width: 768px) {
    #delivery-address-container{
        .left{
            width: 100%;
        }        
        .rigth{
            width: 100%;
        }        
    }    
  }    