$fontsize: 0.525rem;
$textcolor: #fff;
$bgcolor-selection: #a7a4a4;
* {
  box-sizing: border-box;
}
#delivery-address-container { 
  padding: 0.938rem;
  h3 {
    padding-left: 2.75rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap; 
    list-style-type: none;
    overflow: hidden;
  }
  li {
    float: left;
  }
  div {
    &.address-info {
      background-color: $bgcolor-selection;
      overflow: hidden;
      width: 80%;
      padding: 0.625rem;
      border-radius: 0.3125rem;
      box-shadow: 0 1.25rem 1.25rem -1rem rgba(73, 73, 73, 0.651);
      span {
        font-weight: 700;
      }
    }
    &.radio-button-container {
      padding: 0.625rem;
      width: 80%;
      text-align: center;
    }
  }
  p {
    text-align: right;
    padding-right: 6rem;
    input{
      &.input-button{
        padding: 0.625rem;       
        background-color: #db4315;
        font-size: 1rem;
        font-weight: normal;
        color: #fff;
        cursor: pointer;     
        border:  #fff; 
        width: 12.5rem;
        border-radius: 0.3125rem;
        box-shadow: 0 1.25rem 1.25rem -1rem rgba(73, 73, 73, 0.651);
      }
    }
  }
}
/* Use a media query to add a break point at 768px: */
@media screen and (max-width: 768px) {
  #delivery-address-container {
    width: 100%;
  }
}
