#navbar-web-div {
  padding: 1vh 0;
  display: flex;
  background-color: #ffffff;
  .app-logo {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    padding-left: 2%;
    img {
      width: 4vw;
    }
  }
  .search-bar {
    position: relative;
    display: inline-block;
    align-self: center;
    margin: 0 4%;
    input {
      background-color: #eaeaea;
      border: none;
      outline: none;
      width: 30vw;
      padding: 1.5vh;
    }
    &::before {
      font-family: 'FontAwesome';
      content: '\f002';
      position: absolute;
      right: 10px;
      margin-top: 1.5vh;
    }
  }

  .user-div {
    display: flex;
    flex: 1;
    cursor: pointer;
    justify-content: flex-end;
    margin-right: 3%;
    align-items: center;
    i,
    p {
      align-self: center;
    }
    p {
      font-size: 1vw;
    }
    i,
    img {
      font-size: 1.2rem;
      margin-left: 3%;
    }
    img {
      height: 2rem;
      border-radius: 50%;
    }
  }

  .shopping-cart {
    display: flex;
    flex: 1;
    font-size: 1.2rem;
    align-self: center;
    justify-content: flex-end;
    cursor: pointer;
    align-items: center;
    margin-right: 12%;
    img {
      height: 1rem;
      margin-right: 8%;
    }
    i:first-of-type {
      margin-right: 8%;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  #cart-total {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 1px 4px;
    border-radius: 50%;
    position: absolute;
    margin-right: -0.6rem;
    margin-top: -0.3rem;
  }
}
@media only screen and (min-width: 769px) {
  #navbar-mobile-div {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #navbar-web-div {
    display: none;
  }

  #navbar-mobile-div {
    padding: 1vh 0;
    display: flex;
    background-color: #ffffff;
    .app-logo {
      display: flex;
      img {
        width: 10vw;
      }
    }

    .search-bar {
      flex: 1;
      align-self: center;
      #main {
        position: relative;
        display: inline-block;
        margin: 0 4%;
        input {
          background-color: #eaeaea;
          border: none;
          outline: none;
          border-radius: 15px;
          padding: 1vh;
        }
        &::before {
          font-family: 'FontAwesome';
          content: '\f002';
          position: absolute;
          right: 10px;
          margin-top: 1vh;
        }

        .search-menu {
          margin-top: -2px;
          border-radius: 0px 0px 5px 5px;
          border-width: thin;
          overflow-y: auto;
          max-height: 200px;
          margin-top: 0;
          border-top: 1px solid #f2f2f2;
          position: absolute;
          width: 100%;
          padding-left: 0.5rem;
          li {
            h6 {
              margin-top: 0;
              margin-bottom: 0;
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
    .shopping-cart {
      align-self: center;
      margin-right: 3%;
      text-decoration: none;
      color: #282828;
    }

    #cart-total {
      font-size: 10px;
      background: #ff0000;
      color: #fff;
      padding: 1px 4px;
      border-radius: 50%;
      position: absolute;
      top: 1.8rem;
      right: 1rem;
    }
    i {
      align-self: center;
      margin-right: 3%;
      cursor: pointer;
      font-size: 5vw;
      &.bars {
        margin-left: 3%;
      }
      &.search-bar {
        display: flex;
        flex: 1;
        justify-content: flex-end;
      }
    }
  }
}

.search-menu {
  background-color: #eaeaea;
  border-radius: 0px 0px 5px 5px;
  border-width: thin;
  z-index: 9999;
  overflow-y: auto;
  max-height: 200px;
  margin-top: 0;
  border-top: 1px solid #f2f2f2;
  position: absolute;
  width: 100%;
  padding-left: 0.5rem;
  li {
    padding: 0.5rem 0;
    cursor: pointer;
    display: flex;
    img {
      height: 3rem;
      margin-right: 0.5rem;
    }
    h4,
    p {
      margin: 0;
    }
    &:hover {
      background-color: #282828;
      color: #fff;
    }
  }
}

.user-menu {
  background-color: #eaeaea;
  border-radius: 5px;
  border-width: thin;
  z-index: 1;
  margin-top: 10rem;
  position: absolute;
  width: 12%;
  padding-left: 0.5rem;
  a {
    text-decoration: none;
    color: #282828;
    li {
      padding: 0.5rem 0;
      cursor: pointer;
      display: flex;
      font-size: 0.8rem;

      &:hover {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}

.language-menu {
  background-color: #eaeaea;
  border-radius: 5px;
  border-width: thin;
  z-index: 1;
  margin-top: 10rem;
  position: absolute;
  width: 12%;
  padding-left: 0.5rem;
    li {
      padding: 1rem 0;
      cursor: pointer;
      display: flex;
      font-size: 1rem;

      &:hover {
        background-color: #282828;
        color: #fff;
      }
    }
}
.plain-border {
  border-radius: 15px 15px 0 0 !important;
}

.round-border {
  border-radius: 15px;
}

@media only screen and (max-width: 450px) {
  #navbar-mobile-div {
    #cart-total {
      font-size: 10px;
      background: #ff0000;
      color: #fff;
      padding: 1px 4px;
      border-radius: 50%;
      position: absolute;
      top: 1rem;
      right: 0.25rem;
    }
  }
}
