.category-container-div {
  background-color: #ffffff;
  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eaeaea;
    p {
      font-size: 1.5rem;
      margin: 1% 4%;
      cursor: pointer;
    }
  }

  .products {
    display: flex;
    li {
      text-align: center;
      margin-right: 1.5%;
      cursor: pointer;
      img {
        height: 20vh;
      }
      .product-name {
        font-size: 0.8rem;
        // max-width: 7rem;
        height: 3vh;
        text-align: center;
      }
    }
  }
}
