$fontsize: 0.525rem;
$textcolor: #282828;
$bgcolor: #fff;
$hr-bgcolor: #282828;
$input-bgcolor: #282828;
$inputbox-border: #dedede;
$validation-msg: red;
* {
  box-sizing: border-box;
}
#login-container-overlay {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  .login-container {
    display: flex;
    flex-direction: row;
    .left-section {
      width: 100%;
      img {
        height: 27rem;
        display: block;
      }
    }
    .login-section {
      width: 100%;
      text-align: center;
      background-color: $bgcolor;
      i {
        margin: 0;
        padding: 0.438rem 1rem 0 20.75rem;
        cursor: pointer;
      }
      h1 {
        color: $textcolor;
      }
      .input-section {
        height: 14rem;
        p {
          margin: 0;
          text-align: center;
        }
        .input-heading {
          margin: 0;
          padding: 0.6rem 0 0 4.8rem;
          font-size: 0.9rem;
          text-align: left;
        }
        .validation-messge {
          margin: 0;
          padding: 0.1rem 0 0 4.8rem;
          font-size: 0.7rem;
          text-align: left;
          height: 20px;
          color: $validation-msg;
        }
        .input-textbox {
          width: 13.125rem;
          height: 2.188rem;
          border-radius: 0.313rem;
          border: solid 0.125rem $inputbox-border;
          font-size: 0.9rem;
        }
        .input-textbox:focus {
          border: 0.125rem solid $textcolor;
          outline-offset: 0px;
          outline: none;
        }
        h4 {
          padding: 1.875rem;
          font-size: 0.8rem;
          font-weight: normal;
          color: $textcolor;
        }
        .input-button {
          border-radius: 0.188rem;
          width: 5.75rem;
          margin: 0.625rem 0 0;
          height: 1.8rem;
          background-color: $input-bgcolor;
          border: 0;
          font-weight: 700;
          color: $bgcolor;
          cursor: pointer;
        }
        .profile-input-file {
          display: none;
        }
        .profile-img {
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50%;
        }
      }
      .division {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 0.8rem;
        color: $textcolor;
        hr {
          margin: 1.375rem 0.438rem 0 0.438rem;
          width: 3.125rem;
          height: 0.125rem;
          border-width: 0;
          background-color: $hr-bgcolor;
        }
      }
      .social-login {
        img {
          cursor: pointer;
          height: 2rem;
        }
      }
    }
  }
}

/* Use a media query to add a break point at 768px: */
@media screen and (max-width: 768px) {
  #login-container-overlay {
    .login-container {
      .left-section {
        display: none;
      }
    }
  }
}

#recaptcha-container {
  margin-top: 1rem;
  margin-left: 2rem;
}
