.order-placed-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  .heading {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    border: 2px solid #282828;
    color: inherit;
    padding: 1% 3%;
    margin-top: 2rem;
    &:hover {
      background-color: #282828;
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) { 
  .order-placed-div {
    .heading {
      text-align: center;
    }
  }
}